@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar1{
    width: 100%;
    height: 50px;
    color: white;
    background-color: #222f3e;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.navbar1 i{
    margin: 0 5px; 
    align-items: center;
}
.navbar1 a{
    text-decoration: none;
    color: wheat;
    padding: 5px 10px;
    background: #e67e22;
}
.navbar2{
    width: 100%;
    height: 80px;
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px  70px;
}
.menu a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}

header{
    width: 100%;
    height: 100vh;
    background-color: #abb4bf;
    /* background:linear-gradient(rgba(0,0,0,0.7) 80%, #e67e22), url('img4.jpg'); */
    background-size: 100% 100%;
}
.heading{
    max-width: 600px;
    color: rgb(231, 225, 225);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%); 
    text-align: center;
}
h1{
    font-size: 3em;
    font-family: 'Roboto Condensed', sans-serif;
}
.welcome{
 background-color: transparent;
}
.welcome h3{

}

.heading span{
    color: #c2db90;
}
.heading p{
    font-size: 20px;
    margin: 40px 0;
    line-height: 30px;
}

/* footer */
.footer {
    background-color: #222f3e;
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    padding: 50px;
    margin-top: 50px;
  }
  
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  
  
  /* footer left*/
  
  .footer .footer-left {
    width: 33%;
    padding-right: 15px;
  }
  
  .footer .about {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer .about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  
  /* footer center*/
  
  .footer .footer-center {
    width: 30%;
  
  }
  
  
  
  
  
  
  .footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer .footer-center p span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer .footer-center p a {
    color: #06C167;
    text-decoration: none;
  }
  
  
  /* footer right*/
  
  .footer .footer-right {
    width: 35%;
  }
  
  .footer h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer h2 span {
    color: #06C167;
  }
  
  .footer .menu {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer .menu a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }
  
  .footer .menu a:hover {
    color: #06C167;
  }
  
  .footer .name {
    color: #06C167;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  .deli .para{
    font-size: 30px;
    text-align: center;
  }
  .para{
    font-size: 20px;
    text-align: center;
    padding: 20px;
  }
  
  @media (max-width: 767px) {
    .content{
      /* padding: 10px; */
    }
    .deli .para{
      font-size: 23px; 
      text-align: center;
      
  
    }
    .deli img{
     width: 100%;
     height: 100%;
    }
    
    .footer {
      font-size: 14px;
    }
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 60px;
      text-align: center;
    }
    .sociallist{
    
      padding-left: 60px;
      
    }
    
        
  
    
  }
  
  /* social */
  .sociallist{
  
  }
  .social
  {
    
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social li
  {
    list-style: none;
  
  }
  .social li a
  {
    display: inline-block;
    filter: invert(1);
    transform: scale(0.5);
    transition: 0.5s;
    
  }
  .social li a:hover
  {
    transform: scale(0.5) translateY(-15px);
  }
  
  /* photo */
  
  .photo{
    padding: 20px;
  }
  
  .wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 10px;
    align-items: center;
  }

.header__container .section__header {
  text-align: center;
  font-size: 3rem;
  line-height: 4rem;
}

.booking__container {
  border-radius: 2rem;
  border: 1px solid var(--extra-light);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.booking__nav {
  max-width: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: var(--extra-light);
  border-radius: 5px;
}

.booking__nav span {
  flex: 1;
  padding: 1rem 2rem;
  font-weight: 500;
  color: var(--text-light);
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.booking__nav span:nth-child(2) {
  color: var(--white);
  background-color: var(--primary-color);
}

.booking__container form {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr) auto;
  gap: 1rem;
}

.booking__container .input__content {
  width: 100%;
}

.booking__container .form__group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.booking__container .form__group span {
  padding: 10px;
  font-size: 1.5rem;
  color: var(--text-dark);
  background-color: var(--extra-light);
  border-radius: 1rem;
}

.booking__container .input__group {
  width: 100%;
  position: relative;
}

.booking__container label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
  pointer-events: none;
  transition: 0.3s;
}

.booking__container input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  color: var(--text-dark);
}

.booking__container input:focus ~ label {
  font-size: 0.8rem;
  top: 0;
}

.booking__container .form__group p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: var(--text-light);
}

.booking__container .btn {
  padding: 1rem;
  font-size: 1.5rem;
}
.header__container .section__header {
    text-align: center;
    font-size: 3rem;
    line-height: 4rem;
  }
  
  .booking__container {
    border-radius: 2rem;
    border: 1px solid var(--extra-light);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  }
  
  .booking__nav {
    max-width: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: var(--extra-light);
    border-radius: 5px;
  }
  
  .booking__nav span {
    flex: 1;
    padding: 1rem 2rem;
    font-weight: 500;
    color: var(--text-light);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .booking__nav span:nth-child(2) {
    color: var(--white);
    background-color: var(--primary-color);
  }
  
  .booking__container form {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr) auto;
    gap: 1rem;
  }
  
  .booking__container .input__content {
    width: 100%;
  }
  
  .booking__container .form__group {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .booking__container .form__group span {
    padding: 10px;
    font-size: 1.5rem;
    color: var(--text-dark);
    background-color: var(--extra-light);
    border-radius: 1rem;
  }
  
  .booking__container .input__group {
    width: 100%;
    position: relative;
  }
  
  .booking__container label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
    pointer-events: none;
    transition: 0.3s;
  }
  
  .booking__container input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    color: var(--text-dark);
  }
  
  .booking__container input:focus ~ label {
    font-size: 0.8rem;
    top: 0;
  }
  
  .booking__container .form__group p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: var(--text-light);
  }
  
  .booking__container .btn {
    padding: 1rem;
    font-size: 1.5rem;
  }
  